* {
    font-family: Times, 'Times New Roman', serif;
}  /*For some Reason this doesn't select all text*/

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: rgb(81, 214, 214);
    font-size: 20px;
    text-align: center;    
    background-image: url('br2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    background-image: url('br.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.active {
    font-weight: bold;
    color: azure;
}

.visited {
    font-weight: bold;
    color: rgb(81, 214, 214);
}


form {
    text-align: left;
}

h1 {
    color: navy;
    font-size:  36px; /* Section Title*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center ;
    background-image: url('br2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: navy;
    font-size: 24px; /* sub-Section Title*/
    text-align: left;
    background-image: url('br2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    color: navy;
    font-size: 24px; /* secondary type-Section Title*/
    text-align: left;
    background-image: url('br2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-image: url('br2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*

This was another attempt, it looked worse

* {
    font-family: Times, 'Times New Roman', serif;
} 

html{
    background-color: #f0ead6;
}

main{
    background-color: white;
}

nav {
    text-align: center;
}

h1 {
    font-size:  36px;
    text-align: center ;
}

h2 {
    font-size: 24px;
    text-align: left;
}

h3 {
    font-size: 24px;
    text-align: left;
}
*/